<form class="row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      {{input type="number" value=data class="form-control" }}
      <div class="input-group-btn">
        <button {{action passNumberToAdd data}} class=" btn btn-primary btn-block">Add</button>
      </div>
    </div>
  </div>
</form>