<div class="list-numbers">
  {{#each list as |item| }}
    <div class="mb-2">
      <span>{{item.number}}</span>
      <button class="btn btn-danger" {{action passNumberToDelete item}}>Delete</button>
    </div>
  {{/each}}
</div>