<h1>{{title}}</h1>
{{#if (gt display.sum 100)}}
  <BsAlert @dismissible={{false}} @type="warning">
    <strong> Heads up!</strong>
  </BsAlert>
{{/if}}
<DisplaySum @display={{display}} />
{{input-number passNumberToAdd=(action "addNumber")}}
<button class="btn btn-danger mb-3 mt-2" {{action "reset"}}>Reset</button>
{{list-numbers list=numberList passNumberToDelete=(action "deleteNumber") }}