main {
  max-width: 60%;
}

h1 {
  margin-top: 1rem;

}

main .row>div {
  background-color: #f8f9fa;
  border-radius: 0.25rem;
}

.display {
  text-align: right;
  padding: 0.75rem 1.25rem;
  font-size: 3em;
  margin-bottom: 1rem;
}

.display.even {
  font-weight: bold;
  background-color: #28a745;
  border-radius: 0.25rem;
}

.list-numbers span {
  min-width: 2em;
  display: inline-block;
}
